body {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Klee One", cursive;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 18px;
  position: fixed;
  max-width: 95vw;
}

.page-search-input {
  width: 20vw;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(100, 138, 242, 0.2);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.loading {
  font-size: 32px;
  margin: auto;
}

.reader {
  writing-mode: vertical-rl;
  margin: auto 0;
  width: 100%;
  height: 85%;
  font-size: 28px;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.library {
  margin: auto;
}

.library-table > tbody > tr > th, .library-table > tbody > tr > td {
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 12vw;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  height: 32px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(100, 138, 242, 0.2);
  color: rgba(100, 138, 242, 0.8);
  font-size: 18px;
  cursor: pointer;
}

.library-read-button {
  border: none;
}

