body {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Klee One", cursive;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 18px;
  position: fixed;
  max-width: 95vw;
}

.loading {
  font-size: 18px;
  margin: auto 0;
}

.viewer-title, .viewer-author {
  color: rgba(100, 138, 242, 0.8)
}

.reader {
  writing-mode: vertical-rl;
  margin: auto 0;
  width: 100%;
  height: 85%;
  font-size: 28px;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
